* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  max-width: 100%;
}

h2 {
  font-size: 34px;
}

h5 {
  font-size: 18px;
}

header {
  display: flex;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
  z-index: 10;
  width: 100%;
  opacity: 1;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  top: 0;
  left: 0;
}

header img {
  height: 50px;
}

nav {
  background-color: transparent;
  margin-right: 30px;
}

nav li {
  display: inline-block;
  padding: 6px;
}

.main {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.mission-section {
  display: flex;
  margin-top: 69px;
  height: 700px;
  width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: transparent;
}

.mission-section img {
  z-index: -10;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mission-text-div {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  width: 100%;
  opacity: 1;
}

.mission-text {
  padding: 0 10px;
}

.featured-section {
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: column;
}

.featured-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.featured-section figure {
  margin: 10px;
}

.featured-gallery img {
  height: 200px;
  width: 300px;
}

.locations-section {
  display: flex;
  position: relative;
  height: 500px;
  width: 1200px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.locations-section img {
  z-index: -10;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.locations-content {
  display: flex;
  position: absolute;
  background-color: transparent;
  flex-direction: column;
  opacity: 1;
}

.locations-header {
  background-color: transparent;
}

.addresses-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: transparent;
  gap: 40px;
  padding: 5px;
  opacity: 1;
}

.text-block {
  opacity: 1;
  padding: 10px;
  width: 300px;
}

footer {
  display: flex;
  flex-direction: column;
}

.footer-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
}

.address {
  margin: 5px;
  padding: 5px;
}

.copyright {
  text-align: left;
  margin: 0;
  padding: 10px;
}
